# (Optional) Sets default port for the backend 
# Default: 5000 (if not provided)
PORT=5000

# PostgreSQL Database URL used to connect to a local or remote PostgreSQL database
# Default (Docker):    postgresql://dev:dev@postgres:5432/bricked_lemons_db
# LOCAL DEVELOPMENT: If connecting from your host machine (outside of Docker's internal network), 
# change the host and port from 'postgres:5432' to 'localhost:5433'
# Example:  postgresql://dev:dev@localhost:5433/bricked_lemons_db
PSQL_DATABASE_URL="postgresql://dev:dev@postgres:5432/bricked_lemons_db"
# Direct Database URL for migration/seed (Set same as PSQL_DATABASE_URL if you don't have it)
PSQL_DATABASE_DIRECT_URL="postgresql://dev:dev@postgres:5432/bricked_lemons_db"

# MongoDB Database URL used to connect to a local or remote MongoDB database
# Default: mongodb://dev:dev@postgres:27017/bricked_lemons_db?replicaSet=rs0&authSource=admin (The local database used in the docker image)
# IMPORTANT: if you're not using docker for your backend but still want to use the docker database set it to:
#   mongodb://dev:dev@localhost:27017/bricked_lemons_db?replicaSet=rs0&authSource=admin (replace: postgres with: localhost) 
MONGODB_DATABASE_URL="mongodb://dev:dev@postgres:27017/bricked_lemons_db?replicaSet=rs0&authSource=admin"

# Set your Frontend Server URL here
# Default: http://localhost:5173
FRONTEND_URL="http://localhost:5173"

# Review Microservice URL
# Default: http://localhost:5001/api
REVIEWS_SERVICE_URL="http://localhost:5001/api"

# Is the project in "development" or "production" set this variable accordingly
NODE_ENV="development"

# Put a random 1-512 bit string for security (The longer the better)
# Node terminal script to generate random 512 bit string: node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"
JWT_SECRET=""

# Default admin user credentials when seeding prisma
# Default: Admin
DEFAULT_ADMIN_USERNAME="Admin"
# Default: admin@brickedlemons.com
DEFAULT_ADMIN_EMAIL="admin@brickedlemons.com"
# Default: Change_Me
DEFAULT_ADMIN_PASSWORD="Change_Me"

# Gmail Email that's used for node mailer to send emails
NODE_MAILER_EMAIL=""
# Gmail app password that's used for nodemailer
# IMPORTANT: Not Email Password app password
# Get from: https://myaccount.google.com/apppasswords (Must have 2fa enabled on the account)
NODE_MAILER_PASSWORD=""

# I'M NOT MAKING ANOTHER DOCKER SERVICE (THAT'S ENOUGH SERVICES)
# R2 Bucket Credentials for uploading and saving images:
# How to setup in README.md file
# Name of your bucket
BUCKET_NAME=""
# Access key you get from making Account API token
BUCKET_ACCESS_KEY=""
# Secret Access key you get from making Account API token
BUCKET_SECRET_ACCESS_KEY=""
# Endpoint get from Account Details -> S3 API on R2 Object Storage -> Overview
BUCKET_ENDPOINT=""

# For example images transfer the example-images/ contents to your R2 bucket

# The Stripe secret key needed for payments
STRIPE_SECRET_KEY=""

# The webhook key for development environment only (development and local use only)
# For devs only: use stripe listen --forward-to localhost:5000/api/webhooks/stripe to open the webhook
STRIPE_DEVELOPMENT_WEBHOOK_SECRET=""
# The webhook key for production environment (if deployed to cloud)
# Gotten from /apikeys on your stripe dashboard with checkout.session.completed event selected
# Use [Your Backend Url]/api/webhooks/stripe for the Endpoint URL
# Tutorial: https://www.youtube.com/watch?v=903Cb6FbDKU
STRIPE_PRODUCTION_WEBHOOK_SECRET=""


# Upstash Redis database credentials for ratelimiting
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""